.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 8px;
}

.label select {
  margin-left: 8px;
  color: #171718;
}

.input {
  color: #171718;
  font-size: 16px;
  min-height: 38px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid #b3b3b3;
  width: 100%;
  outline: 0;
  transition: border-color 200ms ease-in-out;
  margin-bottom: 16px;
}

.input:focus {
  border-width: 2px;
  border-color: #2684ff;
}
